<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133188875849-d8qbq2jik7vailtesee4eg6q1oaj7liv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133188875849-d8qbq2jik7vailtesee4eg6q1oaj7liv</string>
	<key>API_KEY</key>
	<string>AIzaSyCAn75Q-u8IUlFMODFg_bdk4VsxkdF6hFc</string>
	<key>GCM_SENDER_ID</key>
	<string>133188875849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.os.mcchrisstores</string>
	<key>PROJECT_ID</key>
	<string>mcchris-food-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mcchris-food-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133188875849:ios:805f741cce6f62d946f198</string>
</dict>
</plist>